page-main {
  .toolbar-content-md {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
      -ms-flex-order: 3;
      order: 3;
      min-width: 0;
      max-width: 100%;
      text-align: center;
  }

  ion-footer {
    left: 0;
    /* align-items: center; */
    bottom: 0;
    /* align-content: center; */
    position: absolute;
    z-index: 10;
    display: block;
    width: 100%;
    background: transparent;
}

.button-md {
    border-radius: 2px;
    overflow: hidden;
    height: 3.6rem;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    background-color: #488aff;
    // -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: none;
    /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); */
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0.4rem 0.2rem;
    padding: 0 1.1em;
}

.button-md:active{
  -webkit-box-shadow: none;
}

scroll-content{
	background-color: rgb(41, 221, 171);
}

ion-scroll.item{
	height: 100%;
}

ion-col{
	padding: 16px;
	border: solid 1px #DDD;
	background-color: rgb(221, 41, 91);
	color: #FFF;
	border-radius: 3px;
	margin: 5px;
}




ion-footer {
    left: 0;
    /* align-items: center; */
    bottom: 0;
    /* align-content: center; */
    position: absolute;
    z-index: 10;
    display: block;
    height: 70px;
    width: 100%;
    background: transparent;
}

.footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    top: 0px;
    bottom: auto;
     background-position: left 0 top 0;
     height: 0px;
}


}
